:root {
	--gap: 16px;
}
* {
	box-sizing: border-box;
}
body,
html {
	font-family: "Inter", sans-serif !important;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: "slnt" 0;
	font-weight: normal;
	font-size: 1rem;
	-webkit-font-smoothing: antialiased;
	min-height: 100vh;
	width: 100%;
}
body {
	margin: 0;
	display: flex;
	flex-direction: column;
}
main {
	width: 100%;
}
button {
	appearance: none;
	background-color: transparent;
	border: 0;
}
button,
a {
	cursor: pointer;
	padding: 0;
}
p {
	line-height: 1.5;
}
.visuallyHidden {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	white-space: nowrap;
	border: 0;
	padding: 0;
	margin: 0;
}
.sidebar {
	display: flex;
	flex-shrink: 0;
	padding: var(--gap);
	align-items: center;
	position: sticky;
	top: 0;
	background-color: white;
	justify-content: space-between;
}
.sidebar-logo.--mobile {
	position: relative;
	top: 5px;
}
.sidebar-logo.--desktop {
	display: none;
}
.sidebar-buttons {
	display: flex;
	align-items: center;
	gap: 12px;
	height: 100%;
}
.sidebar-buttons__shuffle {
	position: relative;
}
.sidebar-buttons__shuffle:hover + .sidebar-buttons__shuffle-title {
	opacity: 1;
}
.gallery {
	column-count: 1;
	column-gap: var(--gap);
	padding: var(--gap);
	padding-top: 0;
}
.sidebar-buttons__shuffle-title {
	display: none;
}
.sidebar-buttons__line {
	height: 32.2px;
	width: 1px;
	display: flex;
	background-color: black;
}
.image-container {
	max-width: none !important;
	width: 100%;
	display: block;
	margin-bottom: var(--gap);
	border-radius: 8px;
	object-fit: contain;
	height: auto !important;
	background-size: contain;
	background-color: rgb(240 240 240);
}
.modal {
	cursor: pointer;
	display: none;
	position: fixed;
	z-index: 1;
	left: 100%;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	transition: left 1s cubic-bezier(0.22, 1, 0.36, 1);
	background-color: white;
	padding: var(--gap);
	padding-top: 5.125rem;
}
.close {
	opacity: 0;
	transition: opacity 200ms ease-in-out;
}
.close.show {
	opacity: 1;
}
.modal.show {
	display: block;
	left: 105px;
}
.modal-content {
	margin: auto;
	display: block;
	max-height: 100%;
	transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1);
	border-radius: 8px;
	cursor: initial;
}
.close {
	position: fixed;
	top: 18px;
	right: 11px;
	cursor: pointer;
	display: block;
	background: white;
	padding: 8px;
	border-radius: 0 8px 0 4px;
}

@media (min-width: 31.25em) {
	.gallery {
		column-count: 2;
	}
}
@media (min-width: 43.75em) {
	.sidebar-buttons__shuffle-title {
		display: block;
	}
	.gallery {
		column-count: 3;
	}
}
@media (min-width: 62.5em) {
	body {
		flex-direction: row;
	}
	.sidebar {
		padding: var(--gap) 0 0 var(--gap);
		height: 100vh;
		flex-direction: column;
		justify-content: initial;
	}
	.sidebar-buttons {
		flex-direction: column;
		margin-top: 3rem;
	}
	.sidebar-buttons__line {
		display: none;
	}
	.sidebar-buttons__shuffle-title {
		margin-right: 0;
		display: block;
		content: "Shuffle";
		font-size: 1rem;
		text-align: center;
		opacity: 0;
		transition: all 0.2s;
		pointer-events: none;
		margin-bottom: 1rem;
		margin-top: calc(var(--gap) * -0.5);
	}
	@keyframes shake {
		0% {
			transform: translate(1px, 0) rotate(0deg);
		}
		10% {
			transform: translate(-1px, 0) rotate(-1deg);
		}
		20% {
			transform: translate(-3px, 0) rotate(1deg);
		}
		30% {
			transform: translate(3px, 0) rotate(0deg);
		}
		40% {
			transform: translate(1px, 0) rotate(1deg);
		}
		50% {
			transform: translate(-1px, 0) rotate(-1deg);
		}
		60% {
			transform: translate(-3px, 0) rotate(0deg);
		}
		70% {
			transform: translate(3px, 0) rotate(-1deg);
		}
		80% {
			transform: translate(-1px, 0) rotate(1deg);
		}
		90% {
			transform: translate(1px, 0) rotate(0deg);
		}
		100% {
			transform: translate(1px, 0) rotate(-1deg);
		}
	}
	.sidebar-buttons__shuffle:hover {
		animation: shake 0.7s;
		animation-iteration-count: infinite;
	}
	.gallery {
		padding-top: var(--gap);
		column-count: 3;
	}
	.sidebar-logo.--desktop {
		display: block;
		flex-shrink: 0;
	}
	.sidebar-logo.--mobile {
		display: none;
	}
	.modal-content {
		max-width: 100%;
	}
	.modal {
		width: calc(100% - 89px);
		height: 100%;
		padding-top: var(--gap);
	}
	.close {
		position: absolute;
		top: 16px;
		right: 16px;
	}
}
@media (min-width: 80em) {
	.gallery {
		column-count: 4;
	}
}
