:root {
	--gap: 16px;
}
* {
	box-sizing: border-box;
}
body,
html {
	font-family: "Inter", sans-serif !important;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: "slnt" 0;
	font-weight: normal;
	font-size: 1rem;
	-webkit-font-smoothing: antialiased;
	min-height: 100vh;
	width: 100%;
}
body {
	margin: 0;
	display: flex;
	flex-direction: column;
}
@media (min-width: 62.5em) {
	body {
		flex-direction: row;
	}
}
main {
	width: 100%;
}
button {
	appearance: none;
	background-color: transparent;
	border: 0;
}
button,
a {
	cursor: pointer;
	padding: 0;
}
p {
	line-height: 1.5;
}
.visuallyHidden {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	white-space: nowrap; /* Prevent content from wrapping */
	border: 0; /* Remove borders */
	padding: 0; /* Remove padding */
	margin: 0; /* Remove margins */
}

.sidebar {
	display: flex;
	flex-shrink: 0;
	padding: var(--gap);
	align-items: center;
	position: sticky;
	top: 0;
	background-color: white;
	justify-content: space-between;
}
@media (min-width: 62.5em) {
	.sidebar {
		padding: var(--gap) 0 0 var(--gap);
		height: 100vh;
		flex-direction: column;
		justify-content: initial;
	}
}
.sidebar-logo.--desktop {
	display: none;
}

.sidebar-buttons {
	display: flex;
	align-items: center;
	gap: 12px;
	height: 100%;
}
@media (min-width: 62.5em) {
	.sidebar-buttons {
		flex-direction: column;
		margin-top: 3rem;
	}
}
.sidebar-buttons__shuffle {
	position: relative;
}
.sidebar-buttons__shuffle:hover + .sidebar-buttons__shuffle-title {
	opacity: 1;
}

.gallery {
	column-count: 1;
	column-gap: var(--gap);
	padding: var(--gap);
	padding-top: 0;
}
.sidebar-buttons__shuffle-title {
	display: none;
}
@media (min-width: 31.25em) {
}
@media (min-width: 43.75em) {
	.sidebar-buttons__shuffle-title {
		margin-right: 2rem;
		display: block;
	}
	.gallery {
		column-count: 2;
	}
}
@media (min-width: 62.5em) {
	.sidebar-buttons__shuffle-title {
		margin-right: 0;
		display: block;
		content: "Shuffle";
		font-size: 1rem;
		text-align: center;
		opacity: 0;
		transition: all 0.2s;
		pointer-events: none;
		margin-bottom: 1rem;
		margin-top: calc(var(--gap) * -0.5);
	}
	/* shake thingy */

	.sidebar-buttons__shuffle:hover {
		/* Start the shake animation and make the animation last for 0.5 seconds */
		animation: shake 0.7s;

		/* When the animation is finished, start again */
		animation-iteration-count: infinite;
	}

	@keyframes shake {
		0% {
			transform: translate(1px, 0) rotate(0deg);
		}
		10% {
			transform: translate(-1px, 0) rotate(-1deg);
		}
		20% {
			transform: translate(-3px, 0) rotate(1deg);
		}
		30% {
			transform: translate(3px, 0) rotate(0deg);
		}
		40% {
			transform: translate(1px, 0) rotate(1deg);
		}
		50% {
			transform: translate(-1px, 0) rotate(-1deg);
		}
		60% {
			transform: translate(-3px, 0) rotate(0deg);
		}
		70% {
			transform: translate(3px, 0) rotate(-1deg);
		}
		80% {
			transform: translate(-1px, 0) rotate(1deg);
		}
		90% {
			transform: translate(1px, 0) rotate(0deg);
		}
		100% {
			transform: translate(1px, 0) rotate(-1deg);
		}
	}
	.gallery {
		padding-top: var(--gap);
	}
	.sidebar-logo.--desktop {
		display: block;
		flex-shrink: 0;
	}
	.sidebar-logo.--mobile {
		display: none;
	}
	.gallery {
		column-count: 3;
	}
}
@media (min-width: 80em) {
}
.image-container {
	max-width: none !important;
	width: 100%;
	display: block;
	margin-bottom: var(--gap);
	border-radius: 8px;
	object-fit: contain;
	height: auto !important;
	background-size: contain;
	background-color: rgb(232, 232, 232);
}
/* Style the modal (full-screen image overlay) */
/* .modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(255, 255, 255, 1);
	transition: background-color 0.5s ease;
	border-radius: 10px;
} */

.modal {
	display: none; /* Initially hidden */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 100%; /* Start from the right of the viewport */
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	transition: left 0.5s ease; /* Smooth transition for sliding effect */
	background-color: white;
}

.modal.show {
	display: block;
	left: 105px; /* Slide in to view - sidebar mas gap*/
}

/* Modal Content (image) */
.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	transition: transform 0.5s ease; /* Smooth transition for scaling */
}

/* The Close Button */
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	cursor: pointer;
}

/* 

.image-container {
    margin: 10px;
    border: 1px solid #ccc;
    display: inline-block;
    position: relative;
}

.myImg {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.2s; 
}

.myImg:hover {
    transform: scale(1.1);
} */
